<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>UR SERVICE</title>
    <link rel='stylesheet' href='/style.css' />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <div class='header'>
      <div class='container'>
        <div class='navbar'>
          <div class='logo'>
            <a href='/'>
              <img src='logo 1.png' width='175px' />
            </a>
          </div>
          <nav>
            <ul id='Menuitems'>
              <li><a href='/'>Home</a></li>
              <li><a href=''>About</a></li>
              <li><a href='/account'>Account</a></li>

            </ul>
          </nav>
          <img src='menu icoj.png' class='menu-icon' onclick='menutoggle()' />

        </div>
        <div class='row'>
          <div class='col-2'>
            <h1>Services at your<br />doorstep !!</h1>
            <p>Service is not just providing assistance to people. It is about
              making realtion with them.
              <br />
              Treating them with professionalism,patience and people-first
              attitude.
            </p>
            <a href='/services' class='btn'>Explore now &#10132</a>
          </div>
          <div class='col-2'>
            <img src='5112782.jpg' />
          </div>
        </div>
      </div>
    </div>

    <div class='to-earn'>
      <div class='small-container'>
        <div class='row'>
          <div class='col-2'>
            <img src='earning.jpg' class='money-img' />
          </div>
          <div class='rew'>
            <p>Exclusively on ur service</p>
            <h1>Earning money is simple!!!</h1>
            <small>For those who want to earn money by providing service<br />
              cooks,drivers,maids,caretakers and others.<br />No need to be a
              proffesional,just use your talent and earn.<br />
            </small>
            <a href='/account' class='btn'>Register now &#10132</a>
          </div>
        </div>
      </div>
    </div>
    <div class='to-earn'>
      <div class='small-container'>
        <div class='row'>
          <div class='col-2'>
            <img src='need help.png' class='money-img' />
          </div>
          <div class='rts'>
            <h1>Need any sort of help???</h1>
            <h2>No worries we are there for you,Always!!</h2>
            <small>Just 3 clicks and a call and you can get
              cooks,maids,drivers,bouncers
              <br />
              as per your demand and your choice.<br /></small>
            <a href='/account' class='btn'>Click now &#10132</a>
          </div>
        </div>

      </div>
    </div>
    <div class='refer'>
      <div class='small-container'>
        <div class='row'>
          <div class='col-2'>
            <img
              src='334-3341160_refer-a-friends-refer-earn.png'
              class='money-img'
            />

          </div>
          <div class='rts'>
            <h1>REFER A FRIEND AND EARN</h1>
            <h3>Get Rs.100 each on his first order</h3><br />
            <a href='/referafriend' class='btn'>Refer now &#10132</a>
          </div>
        </div>
      </div>
    </div>
    <div class='brands'>
      <div class='small-container'>
        <div class='row'>
          <div class='col-5'>
            <img
              src='114214111-chef-hat-food-restaurant-vector-icon-logo-design-template.jpg'
            />
          </div>
          <div class='col-5'>
            <img src='Driver-Water-Logo.png' />
          </div>
          <div class='col-5'>
            <img src='download.png' />
          </div>
          <div class='col-5'>
            <img src='download (1).png' />
          </div>
          <div class='col-5'>
            <img src='unnamed.png' />
          </div>
        </div>
      </div>
    </div>
    <div class='footer'>
      <div class='container'>
        <div class='row'>
          <div class='footer-col-1'>
            <h3>Download our App</h3>
            <p>Download for Android and Ios mobile phones</p>
            <div class='store'>
              <img src='goggle play.png' />
              <img src='app store.png' />
            </div>
          </div>
          <div class='footer-col-2'>
            <img src='logo 1.png' />
            <p>Our objective is to provide valuable services at reasonable
              prices</p>
          </div>
          <div class='footer-col-3'>
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Service Policy</li>
              <li>Customer Benefits</li>
            </ul>
          </div>
          <div class='footer-col-4'>
            <h3>Follow us</h3>
            <ul>
              <li>facebook</li>
              <li>instagram</li>
              <li>twitter</li>
              <li>youtube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class='copyright'>Copyright-2021-TechGo</p>
      </div>
    </div>
  </body>
  <script>
    var Menuitems = document.getElementById("Menuitems");
    Menuitems.style.maxHeight = "0px"; function menutoggle(){
    if(Menuitems.style.maxHeight == "0px") { Menuitems.style.maxHeight =
    "200px"; } else{ Menuitems.style.maxHeight = "0px"; } }
  </script>

</html>