<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>account</title>
    <link rel='stylesheet' href='/style.css' />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <div class='container'>
      <div class='navbar'>
        <div class='logo'>
          <a href='/'>
            <img src='/logo 1.png' width='175px' />
          </a>
        </div>
        <nav>
          <ul id='Menuitems'>
            <li><a href='/'>Home</a></li>
            {{! <li><a href='/services'>Services</a></li> }}
            <li><a href=''>About</a></li>
            <li><a href='/account'>Account</a></li>
          </ul>
        </nav>
        <img src='/menu icoj.png' class='menu-icon' onclick='menutoggle()' />
      </div>
    </div>
    <div class='account-page'>
      <div class='container'>
        <div class='row'>
          <div class='col-2'>
            {{#if message}}
              <h2
                class='alert alert-danger mt-4'
                align='center'
              >{{message}}</h2>
            {{/if}}
            <img src='/5112782.jpg' width='100%' />
          </div>

          <div class='col-2'>
            <div class='form-container'>

              <div class='form-btn'>
                <span onclick='login1()'><a href='/login1'><div
                      class='col-7'
                    ><h2 class='heading'>Login</h2></div></a>
                </span>
                <span onclick='register1()'><a href='/register1'><div
                      class='col-7'
                    ><h2 class='heading'>Register</h2></div></a></span>

              </div>

              <form id='logForm' action='/auth/login1' method='POST'>
                <h3 class='heading'>LOGIN</h3>
                <input
                  type='email'
                  placeholder='email'
                  class='form-control'
                  id='email'
                  name='email'
                />
                <input
                  type='password'
                  placeholder='password'
                  class='form-control'
                  id='password'
                  name='password'
                />
                <button type='submit' class='btn btn-primary'>Login</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='footer'>
      <div class='container'>
        <div class='row'>
          <div class='footer-col-1'>
            <h3>Download our App</h3>
            <p>Download for Android and Ios mobile phones</p>
            <div class='store'>
              <img src='/goggle play.png' />
              <img src='/app store.png' />
            </div>
          </div>
          <div class='footer-col-2'>
            <img src='/logo 1.png' />
            <p>
              Our objective is to provide valuable services at reasonable prices
            </p>
          </div>
          <div class='footer-col-3'>
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Service Policy</li>
              <li>Customer Benefits</li>
            </ul>
          </div>
          <div class='footer-col-4'>
            <h3>Follow us</h3>
            <ul>
              <li>facebook</li>
              <li>instagram</li>
              <li>twitter</li>
              <li>youtube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class='copyright'>Copyright-2021-TechGo</p>
      </div>
    </div>

    <script>
      var Menuitems = document.getElementById("Menuitems");
      Menuitems.style.maxHeight = "0px"; function menutoggle() { if
      (Menuitems.style.maxHeight == "0px") { Menuitems.style.maxHeight =
      "200px"; } else { Menuitems.style.maxHeight = "0px"; } }
    </script>

    <script>
      var LoginForm = document.getElementById("LoginForm"); var RegForm =
      document.getElementById("RegForm"); var Indicator =
      document.getElementById("Indicator"); function register() {
      RegForm.style.transform = "translateX(0px)"; LoginForm.style.transform =
      "translateX(0px)"; Indicator.style.transform = "translateX(100px)"; }
      function login() { RegForm.style.transform = "translateX(300px)";
      LoginForm.style.transform = "translateX(300px)"; Indicator.style.transform
      = "translateX(0px)"; }
    </script>
  </body>
</html>