<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>refer</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="container">
    <div class="navbar">
        <div class="logo">
          <a href="/">  <img src="/logo 1.png" width="175px">
            </a>
        </div>
        <nav>
            <ul id="Menuitems">
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="">About</a></li>
                <li><a href="/account">Account</a></li>
                
            </ul>
        </nav>
        <img src="/menu icoj.png" class="menu-icon"
        onclick="menutoggle()">
</div>
</div>
<div class="small-container">
    <h1>REFER A FRIEND</h1>
    <div class="row">
        <div class="col-2">
            <img src="/refer-a-friend-Spark-Energy.png" width=100%>
        </div>
        <div class="col-2">
            <div class="form-container">
                <h2>Invite your friends to<br> Ur Service <br>and 
                    get Rs. 100 each on their first order.
                </h2>
                <br>
                <br>
                <h3>Copy your code</h3>
                <a href="" class="code">cz11f5q</a>
                <h3>Share it on</h3>
                <div class="row">
                    
                    
                <div class="col-6">
                    <img src ="/WhatsApp.svg.png">
                </div>
                <div class="col-6">
                    <img src="/EB8pOInXYAAr8u_.jpg">
                </div>
                <div class="col-6">
                    <img src="/1200x630wa.png">
                </div>
                <div class="col-6">
    <img src="/snap.png">
</div>
<div class="col-6">
    <img src="/share it.png">
</div>
 </div>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download for Android and Ios mobile phones</p>
                <div class="store">
                    <img src="/goggle play.png">
                    <img src="/app store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="/logo 1.png">
                <p>Our objective is to provide valuable services at 
                    reasonable prices</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Service Policy</li>
                    <li>Customer Benefits</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                <li>facebook</li>
                <li>instagram</li>
                <li>twitter</li>
                <li>youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright-2021-TechGo</p>
    </div>
</div>



<script>
    var Menuitems = document.getElementById("Menuitems");
    Menuitems.style.maxHeight = "0px";
    function menutoggle(){
        if(Menuitems.style.maxHeight == "0px")
        {
            Menuitems.style.maxHeight = "200px";
        }
        else{
            Menuitems.style.maxHeight = "0px";
        }
    }
</script>
</body>

</html>